body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
}

:not(input):not(textarea):not(a):not(i):not(span),
:not(input):not(textarea):not(a):not(i):not(span)::after,
:not(input):not(textarea):not(a):not(i):not(span)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

input,
button,
textarea,
:focus {
    outline: none;
}

.wrapper {
    position: absolute;
    background: #24292e;
    width: 99.8%;
    height: 99.7%;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-radius: 10px;
    border-style: inset;
}

#dragBar {
    display: inline-block;
    background: #4d6ca5;
    color: #FFF;
    border-top-left-radius: 10px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    width: 89.8%;
    height: 30px;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.title {
    padding-left: 25px;
    display: block;
    padding-top: 8px;
    text-shadow: 1px 1px 1px #000;
}

.control-btns {
    display: inline-block;
    background-color: #24292e;
    color: #fff;
    right: 1px;
    z-index: 1000;
    -webkit-user-select: none;
    -webkit-app-region: no-drag;
    position: fixed;
    border-top-right-radius: 10px;
}

.control-btns span {
    background-color: #4d6ca5;
    height: 23px;
    width: 38px;
    display: inline-block;
    padding-top: 7px;
    text-align: center;
}

.control-btns span:last-child {
    border-top-right-radius: 10px;
}

.control-btns span:hover {
    background: #4b5259;
}

.media-player {
    display: inline-block;
    position: absolute;
    width: 400px;
    right: 0;
    height: 567px;
    top: 50px;
}

.media-controls {
    display: block;
    height: 365px;
    bottom: 70px;
    position: absolute;
    width: 400px;
}

.playpause-btn {
    font-size: 100px;
    color: #4d6ca5;
    margin: 0 auto;
    width: 100px;
    display: block;
    cursor: pointer;
    background: #111;
    padding: 20px 21px 20px 20px;
    border-radius: 85px;
}

.fa-play {
    margin-left: 14px !important;
}

.fa-stop {
    margin-left: 6px !important;
}

.spin {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#volumebox {
    width: 350px;
    height: 50px;
    position: absolute;
    margin: 0 auto;
    bottom: 170px;
    margin-left: 25px;
}

#volumebox i {
    position: absolute;
    margin-top: -6px;
    color: #666;
}

#volumebox i.fa-volume-down {
    margin-left: -8px;
}

#volumebox i.fa-volume-up {
    margin-right: -8px;
    right: 0;
}

#volume {
    position: absolute;
    left: 24px;
    margin: 0 auto;
    height: 5px;
    width: 300px;
    background: #555;
    border-radius: 15px;
}

#volume .ui-slider-range-min {
    height: 5px;
    width: 300px;
    position: absolute;
    background: #4d6ca5;
    border: none;
    border-radius: 10px;
    outline: none;
}

#volume .ui-slider-handle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #FFF;
    position: absolute;
    margin-left: -8px;
    margin-top: -8px;
    cursor: pointer;
    outline: none;
}

#canvas {
    position: fixed;
    left: 1px;
    width: 99.8%;
    height: 70%;
    z-index: 0;
    bottom: 1px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: .5;
}

.media-info {
    color: #fff;
    width: 400px;
    float: right;
    margin-top: 40px;
}

.media-info * {
    z-index: 100;
}

.song {
    display: block;
    text-align: center;
}

.artist {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #cecece;
}

.albumart-container {
    position: absolute;
    display: block;
    margin-left: -385px;
    margin-top: 5px;
    width: 390px;
    height: 370px;
}

.albumart-container canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto auto auto;
    width: 300px;
    height: 300px;
    left: 0;
    right: 0;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border: 1px solid #000;
    -webkit-transition: border 0.1s linear, box-shadow 0.1s linear;
    -moz-transition: border 0.1s linear, box-shadow 0.1s linear;
    transition: border 0.1s linear, box-shadow 0.1s linear;
}

.active-border {
    border-color: blue;
    -webkit-box-shadow: 0 0 80px #4d6ca5;
    -moz-box-shadow: 0 0 80px #4d6ca5;
    box-shadow: 0 0 80px #4d6ca5;
}

.minimize,
.exit {
    cursor: pointer;
}

.version-label {
    position: absolute;
    top: 35px;
    color: #808080;
    z-index: 9999;
    right: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 11px;
}

.bookmark {
    display: block;
    bottom: 165px;
    right: 58px;
    position: absolute;
    height: 20px;
    width: 0;
    padding: 0px;
    -webkit-transform: rotate(0deg) skew(0deg);
    transform: rotate(0deg) skew(0deg);
    border-left: 10px solid #4d6ca5;
    border-right: 10px solid #4d6ca5;
    border-bottom: 10px solid transparent;
    cursor: pointer !important;
}